.cards {
    display: flex;
    justify-content: space-around ;
}

.cards a:link{
    width: 100%;
    text-decoration: none;
}

.div-main {
    /* background-color: #F8F5F5; */
    background-color: #F2F5F7;
    height: auto;
    padding-bottom: 50px;
}

.titulo-principal {
    padding-top: 50px;
    text-align: center;
}

.titulo-secundario {
    text-align: center;
    color: #474040;
    margin-bottom: 70px;
}

#parceiros{
    height: 300px;
    background-color: aquamarine;
   
    scroll-behavior: smooth;
}

@media(max-width: 768px) {

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    }
}
    