.div-campanha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 


.card-campanha {
    display: flex;
    width: 45%;
    background-color: rgb(255, 255, 255);
    transition: .3s;
    box-shadow: 2px 2px 2px #CCC;
    padding: 20px;
    margin: 20px;
   
    
}

.card-campanha:hover {
    box-shadow: 4px 4px 4px #CCC;

}

.img-campanha {
    margin-right: 50px;
}

.livro-campanha {
    width: 130px;
    height: 170px;
}

/*Responsividade mobile*/

@media(max-width: 768px) {
    .div-campanha {
        display: flex;
        flex-direction: column;
    }

    .card-campanha {
        width: 100%;
    }
}
 


